.profileContainer {
    display: flex;
    justify-content: center;
    align-items:center;
}
.sideContainer {
    margin-right: 100px;
    margin-top:15px
}
.profilePicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 296px;
    height: 296px;
    border: 3px solid #736FB5;
}
.mainProfile {

}
.figcaptionUsername{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.itemsList {
    list-style-type: none;
    display: flex;
    flex-wrap:wrap;
    width: 758px;
}
.profileItem {
    width:379px;
    height:114px;
    padding-left: 8px;
    padding-right:8px;
    margin-bottom:16px;

}
.profileItemArticle {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 0.7px solid #736FB5;
    border-radius: 0.375rem;  
}
.profileItemArticleTop{

    display :flex;
    

}
#visSpanContainer {
    display:flex;
    flex-grow: 1;
    justify-content:flex-end;
}
#visSpan {
    
    border: 0.7px solid #736FB5;
    border-radius: 624.9375rem;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    align-content: center;
}
.mainHeader{

    text-align:center;

}
h2 {
    margin-bottom: 0px;
}
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
p {
    
    margin-top:0px;
    margin-bottom:0px;

}
ol{

    padding:0px;
    margin:0px;

}
