.profileContainer {
    display: flex;
    justify-content: center;
    align-items:center;
}
.sideContainer {
    
    margin-right: 100px;

}
.mainProfile {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    width: 500px;
    height: 400px;
}
